rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone with your Firestore database reference to view, edit,
    // and delete all data in your Firestore database. It is useful for getting
    // started, but it is configured to never expire to keep the database open.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
